.search-result-container {
  /* align-items: center;
    justify-content: center;
    text-align: center; */
  justify-content: flex-start; /* 상단 정렬 */
  height: 100%;
  overflow-y: auto; /* 세로 스크롤 활성화 */
}

.no-results-message {
  font-size: 20px;
  color: #ff0000;
  margin-top: 20px;
}
