.right-panel-tool-bar {
  grid-area: header;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  margin: 0.3em 0.5em;
}

/* 검색 결과 아이템 스타일 */
.search-result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.35em; /* 패딩을 늘려 높이 증가 */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* 부드러운 변화를 위한 트랜지션 추가 */
}

/* 검색 결과 아이템 hover 시 스타일 변경 */
.search-result:hover {
  transform: translateY(-5px); /* hover 시 더 부드럽게 이동 */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3); /* hover 시 그림자 강조 */
}

.search-result:last-child {
  margin-bottom: 4em; /* 마지막 아이템에 대한 하단 마진 추가 */
}

.paper-index {
  flex: 0 0 auto;
  box-sizing: border-box;
  padding-top: 0.5em;
}

.index {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 16px;
  text-align: center;
  padding: 5px;
  min-width: 40px;
  min-height: 40px;
  border-radius: 50px;
  border: 0;
  margin-right: 0.8em;
}

.paper {
  flex: 1; /* 모든 paper 요소가 동일한 너비를 가지도록 설정 */
  display: flex;
  flex-direction: column;
  /* border: 1px solid #e2e8f0; */
  background-color: #fff;
  /* 그림자 추가 */
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); */
  /* transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; */
  padding: 0.5em;
  margin-bottom: 0.5em;
}

.paper-title {
  color: #237aaa;
  /* color: #2b6cb0; */
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.paper-title:hover {
  text-decoration: underline;
}

.paper-title-highlight {
  /* background-color: #f5f533; */
  color: #fa6666;
  font-weight: bold;
  font-style: italic;
}

.paper-detail {
  font-size: 15px;
  color: #8c9296;
}

.DOI:hover {
  text-decoration: underline;
}

.paper-scrap {
  margin-top: 0.5em;
}
