.right-panel {
  background: #ffffff;
  border: 1px solid #e2e8f0; /* 테두리 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 상자 그림자 */
  border-radius: 8px;
  padding: 0.5em;
  overflow: hidden; /* 내부 내용이 넘치면 숨김 */
}

.panel-header-paperList {
  font-weight: bold;
  background: #e2e8f0;
  color: #2d3748;
  padding: 5px 10px;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #ddd; /* 하단 경계선 */
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 상단에 그림자 효과 */
}

.search-result-container {
  /* align-items: center;
    justify-content: center;
    text-align: center; */
  justify-content: flex-start; /* 상단 정렬 */
  height: 100%;
  overflow-y: auto; /* 세로 스크롤 활성화 */
}

.no-results-message {
  font-size: 20px;
  color: #ff0000;
  margin-top: 20px;
}
