.search-result-page {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5; /*white smoke*/
  min-height: 100vh; /*요소의 최소 높이 지원*/
  padding: 1em;
}

.header-container {
  flex-direction: column;
  align-items: center;
}

.logo-container {
  margin: 0;
  padding: 0;
}

/* .logo-under-container {
  margin: 0;
  padding: 0;
}

.logo-under-text {
  font-size: 15px;
  color: rgb(135, 135, 135);
} */

.result-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 두 열로 구성 */
  gap: 20px; /* 열 사이 간격 */
  padding: 20px;
}

.left-panel,
.right-panel {
  background: #ffffff; /* 배경색 */
  border: 1px solid #ddd; /* 테두리 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 상자 그림자 */
  border-radius: 4px; /* 모서리 둥글게 */
  padding: 20px; /* 내부 패딩 */
  overflow: hidden; /* 내부 내용이 넘치면 숨김 */
}

.panel-header {
  background: #f2f2f2; /* 헤더 배경색 */
  color: #333; /* 헤더 텍스트 색상 */
  padding: 10px 15px; /* 내부 패딩 */
  border-bottom: 1px solid #ddd; /* 하단 경계선 */
  text-align: left; /* 텍스트 왼쪽 정렬 */
  border-top-left-radius: 4px; /* 상단 왼쪽 모서리 둥글게 */
  border-top-right-radius: 4px; /* 상단 오른쪽 모서리 둥글게 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 상단에 그림자 효과 */
}

.search-result-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* 검색 결과 아이템 스타일 */
.search-result {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

/* 검색 결과 아이템 hover 시 스타일 변경 */
.search-result:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* 검색 결과 제목 스타일 */
.search-result h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

/* 저자 정보 스타일 */
.authors {
  font-size: 16px;
  color: #666;
  margin-bottom: 5px;
}

/* 초록 정보 스타일 */
.abstract {
  font-size: 18px;
  color: #444;
}

.no-results-message {
  font-size: 20px;
  color: #ff0000;
  margin-top: 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-text {
  font-size: 13px;
  color: rgb(135, 135, 135);
}
