.search-result-page {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #f5f5f5; /*white smoke*/
  min-height: 100vh; /*요소의 최소 높이 지원*/
  /* padding: 1em; */
}

.header-container {
  height: 6vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #718096;
  color: #e2e8f0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.logo-container {
  margin-right: 1em;
  cursor: pointer;
}

.header-search-title {
  font-weight: medium;
  font-size: 20px;
}

.result-container {
  display: grid;
  grid-template-columns: 4fr 6fr 10fr;
  gap: 10px; /* 열 사이 간격 */
  padding: 5px 5px 5px;
  height: 87vh;
  /* overflow: auto; */
}

.left-panel-filter {
  background: #ffffff;
  border: 1px solid #e2e8f0; /* 테두리 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 상자 그림자 */
  border-radius: 8px;
  padding: 0.5em;
  overflow: hidden; /* 내부 내용이 넘치면 숨김 */
}

.panel-header-filter {
  height: 1.8em;
  font-weight: bold;
  background: #e2e8f0;
  color: #2d3748;
  padding: 5px 10px;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #ddd; /* 하단 경계선 */
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 상단에 그림자 효과 */
}

.left-panel-2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background: #ffffff;
  border: 1px solid #e2e8f0; /* 테두리 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 상자 그림자 */
  border-radius: 8px;
  padding: 0.5em;
  overflow: hidden; /* 내부 내용이 넘치면 숨김 */
}

.panel-header-2 {
  height: 1.8em;
  font-weight: bold;
  background: #e2e8f0;
  color: #2d3748;
  padding: 5px 10px;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #ddd; /* 하단 경계선 */
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 상단에 그림자 효과 */
}

.right-panel {
  background: #ffffff;
  border: 1px solid #e2e8f0; /* 테두리 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 상자 그림자 */
  border-radius: 8px;
  padding: 0.5em;
  overflow: hidden; /* 내부 내용이 넘치면 숨김 */
}

.panel-header-paperList {
  font-weight: bold;
  background: #e2e8f0;
  color: #2d3748;
  padding: 5px 10px;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #ddd; /* 하단 경계선 */
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 상단에 그림자 효과 */
}

.footer-container {
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  background-color: #718096;
  margin: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.footer-text {
  font-size: 14px;
  color: #e2e8f0;
  /* color: rgb(135, 135, 135); */
}

/* 반응형 조정을 위한 미디어 쿼리 */
/* @media (max-width: 768px) {
  .header-container {
    height: 15vh;
  }

  .footer-container {
    height: 15vh;
  }

  .result-container {
    height: 70vh;
  }
} */
